{% extends 'base.html' %}

{% block content %}
<div class='container py-4'>
    <div class='row g-4'>
        <div class='col-12'>
            <div class='card'>
                <div class='card-header'>
                    <h3 class='mb-0'>
                        🍯 {{ batch.name }}
                    </h3>
                </div>
                <div class='card-body'>
                    Created {{ batch.created_at|date:'d.m.Y H:i' }}
                </div>
            </div>
        </div>
        <div class='col-lg-8'>
            <div class='card h-100'>
                <div class='card-header'>Batch Information</div>
                <div class='card-body'>
                    <div class='mb-3'>
                        <div class='text-muted small'>
                            Brew date
                        </div>
                        <div class='fw-semibold'>
                            {{ batch.brew_date }}
                        </div>
                    </div>
                    <div class='mb-3'>
                        <div class='text-muted small'>
                            Volume
                        </div>
                        <div class='fw-semibold'>
                            {{ batch.volume }} L
                        </div>
                    </div>
                    <div class='mb-3'>
                        <div class='text-muted small'>
                            Recipe
                        </div>
                        <div>
                            {{ batch.recipe|linebreaks }}
                        </div>
                    </div>
                    <div class='mb-3'>
                        <div class='text-muted small'>
                            Notes
                        </div>
                        <div>
                            {{ batch.notes|linebreaks }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-lg-4'>
            <div class='card h-100'>
                <div class='card-header'>Status</div>
                <div class='card-body'>
                    <div class='mb-3'>
                        {{ batch.status }}
                    </div>
                    <div class='mb-3'>
                        <div class='text-muted small'>
                            Age:
                        </div>
                        <div>
                            {{ batch.age_days }} days
                        </div>
                    </div>
                    <div class='mb-3'>
                        <div class='text-muted small'>
                            Original Gravity:
                        </div>
                        <div>
                            {% if batch.measurement_count > 0 %}
                                {{ batch.original_gravity }}
                            {% else %}
                                --
                            {% endif %}
                        </div>
                    </div>
                    <div class='mb-3'>
                        <div class='text-muted small'>
                            Current Gravity:
                        </div>
                        <div>
                            {% if batch.measurement_count > 0 %}
                                {{ batch.current_gravity }}
                            {% else %}
                                --
                            {% endif %}
                        </div>
                    </div>
                    <div class='mb-3'>
                        <div class='text-muted small'>
                            Gravity drop:
                        </div>
                        <div>
                            {% if batch.measurement_count > 0 %}
                                {{ batch.gravity_drop }}
                            {% else %}
                                --
                            {% endif %}
                        </div>
                    </div>
                    <div class='mb-3'>
                        <div class='text-muted small'>
                            Bottles:
                        </div>
                        <div>
                            0
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-12'>
            <div class='card'>
                <div class='card-header'>
                    Measurements
                </div>
                <div class='card-body'>
                    {% with measurements=batch.measurements.all %}
                    {% if measurements %}
                    {% for measurement in measurements|slice:':3' %}
                    <div class='mb-3'>
                        <div class='text-muted small'>
                            Measured at:
                        </div>
                        <div>
                            {{ measurement.measured_at|date:'d.m.Y H:i' }}
                        </div>
                    </div>
                    <div class='mb-3'>
                        <div class='text-muted small'>
                            Specific gravity:
                        </div>
                        <div>
                            {{ measurement.gravity }}
                        </div>
                    </div>
                    <div class='mb-3'>
                        <div class='text-muted small'>
                            Temperature:
                        </div>
                        <div>
                            {{ measurement.temperature }}
                        </div>
                    </div>
                    <div class='mb-3'>
                        <div class='text-muted small'>
                            Notes:
                        </div>
                        <div>
                            {{ measurement.notes }}
                        </div>
                    </div>
                    {% if not forloop.last %}
                        <hr>
                    {% endif %}
                    {% endfor %}
                    {%else%}
                        No measurements yet...
                    {% endif %}
                    {% endwith %}
                    <a href="{% url 'measurement_create' batch.pk %}" class='btn btn-primary'>
                        + New measurement
                    </a>
                </div>
            </div>
        </div>
        <div class='col-12'>
            <div class='card'>
                <div class='card-header'>
                    Bottles
                </div>
                <div class='card-body'>
                    No bottles yet...
                </div>
            </div>
        </div>
        <div class='col-12'>
            <div class='card'>
                <div class='card-header'>
                    History
                </div>
                <div class='card-body'>
                    No history yet...
                </div>
            </div>
        </div>
        <div class='col-12'>
            <div class='d-flex gap-2'>
                <a href="#" class='btn btn-outline-secondary'>
                    Edit
                </a>

                <a href="{% url 'batch_list' %}" class='btn btn-outline-secondary'>
                    Back
                </a>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}