{% extends "base.html" %}

{% block content %}

<div class='d-flex justify-content-between align-items-center mb-3'>
    <h2 class='mb-0'>
        Batches
    </h2>
    <a href="{% url 'batch_create' %}" class='btn btn-primary'>
        + New batch
    </a>
</div>

{% if batches %}

<div class="list-group">

{% for batch in batches %}

<a href="{% url 'batch_detail' batch.pk %}" class="list-group-item list-group-item-action">
    <strong>
        {{ batch.name }}
    </strong>
    <br>
    <small>
        {{ batch.brew_date }}
    </small>
</a>

{% endfor %}

</div>

{% else %}

<div class="alert alert-info">
    No batches yet...
</div>

{% endif %}

{% endblock %}