{% extends 'base.html' %}

{% block content %}

{% if form.instance.pk %}
    <h2>Edit measurement</h2>
{% else %}
    <h2>New measurement</h2>
{% endif %}

<form method='post'>

    {% csrf_token %}

    {% if form.non_field_errors %}
    <div class='alert alert-danger'>
        {{ form.non_field_errors }}
    </div>
    {% endif %}

    <div class='row'>
        <div class='col-md-4'>
            {{ form.measured_at.label_tag }}
            {{ form.measured_at }}
            {{ form.measured_at.errors }}
        </div>

         <div class='col-md-4'>
            {{ form.density.label_tag }}
            {{ form.density }}

            {% for error in form.density.errors %}
                <div class='text-danger small'>
                    {{ error }}
                </div>
            {% endfor %}
        </div>

        <div class='col-md-4'>
            {{ form.unit.label_tag }}
            {{ form.unit }}

            {% for error in form.unit.errors %}
                <div class='text-danger small'>
                    {{ error }}
                </div>
            {% endfor %}
        </div>

        <div class='col-12'>
            <div class='form-check'>
                {{ form.refractometer_correction }}
                {{ form.refractometer_correction.label_tag }}
            </div>

            {% for error in form.refractometer_correction.errors %}
                <div class='text-danger small'>
                    {{ error }}
                </div>
            {% endfor %}
        </div>

        <div class='col-md-4'>
            {{ form.temperature.label_tag }}
            {{ form.temperature }}
            {{ form.temperature.errors }}
        </div>
    </div>

    <div class='mt-3'>
        {{ form.notes.label_tag }}
        {{ form.notes }}
        {{ form.notes.errors }}
    </div>

    <div class='mt-4 d-flex gap-2'>
        <button class='btn btn-success' type='submit'>
        {% if form.instance.pk %}
            Edit
        {% else %}
            Add New
        {% endif %}
        </button>

        <a href="{% url 'batch_detail' batch.pk %}" class='btn btn-outline-secondary'>
            Cancel
        </a>
    </div>
</form>
{% endblock %}